<div *ngIf="(organization$ | async) as org">
    <h1>Organization</h1>
    <h2>{{ org.organization_name }}</h2>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="organization">
                <mat-form-field>
                    <input matInput type="text" placeholder="Nome da Entidade" formControlName="organization_name">
                </mat-form-field>
            </form> 
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="save(organization.value)">
                <mat-icon>save</mat-icon>
            </button>

            <button mat-raised-button color="warn" (click)="router.navigate(['/organizations'])">
                <mat-icon>cancel</mat-icon>
            </button>

            <button mat-raised-button color="accent" (click)="refresh()">
                <mat-icon>refresh</mat-icon>
            </button>

            <button mat-raised-button color="accent" (click)="refreshAss()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <h2>Assignments:</h2>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="assign">
                <mat-card fxLayout="column">
                    <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                        <mat-form-field appearance="fill">
                            <mat-label>Pessoas</mat-label>
                            <mat-select formControlName="user_id">
                                <mat-option *ngFor="let e of (users$ | async)" [value]="e.user_id">{{ e.user_name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
         
                        <mat-form-field appearance="fill">
                            <mat-label>Roles</mat-label>
                            <mat-select formControlName="role_id">
                                <mat-option *ngFor="let e of (roles$ | async)" [value]="e.role_id">{{ e.role_desc }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-raised-button color="primary" (click)="saveAssign(assign.value)">
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                    <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                   
                        <mat-form-field appearance="fill">
                            <mat-label>Start</mat-label>
                            <input matInput [matDatepicker]="starts" formControlName="started_at">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="starts"></mat-datepicker-toggle>
                            <mat-datepicker #starts></mat-datepicker>
                          </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Expires</mat-label>
                            <input matInput [matDatepicker]="expires" formControlName="expired_at">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="expires"></mat-datepicker-toggle>
                            <mat-datepicker #expires></mat-datepicker>
                          </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Revoked At</mat-label>
                            <input matInput [matDatepicker]="revoke" formControlName="revoked_at">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="revoke"></mat-datepicker-toggle>
                            <mat-datepicker #revoke></mat-datepicker>
                          </mat-form-field>




                    </div>
                </mat-card>
            </form>

            <mat-card>
                <mat-list>
                    <mat-list-item *ngFor="let a of (assignments$ | async)">
                        <mat-icon mat-list-icon>person</mat-icon>
                        {{ a | json }}
                        <button mat-icon-button (click)="delAssign(a)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        
                        <button mat-icon-button (click)="editAssign(a)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>